$wetAsphalt: #34495e;
$midNightBlue: #2c3e50;
$wisteria: #8e44ad;
$amethyst: #9b59b6;
$clouds: #ecf0f1;
$sliver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$belizeHole: #2980b9;
$peterRiver: #3498db;
$nephritis: #27ae60;
$emerald: #2ecc71;
$pumpkin: #d35400;
$pomegranate: #c0392b;
$alizarn: #e74c3c;
$carrot: #e67e22;
$sunFlower: #f1c40f;
$turquoise: #1abc9c;
$greenSee: #16a085;
